pkgbase = luajit
	pkgdesc = Just-In-Time (JIT) compiler for the Lua programming language, with extended Lua 5.2 compatibility enabled
	pkgver = 2.1.1744318430
	pkgrel = 1
	url = https://luajit.org/
	arch = i386
	arch = i486
	arch = i586
	arch = i686
	arch = x86_64
	arch = armv4l
	arch = armv5l
	arch = armv6l
	arch = armv7l
	arch = aarch64
	arch = ppc
	arch = mips
	arch = mipsel
	arch = mips64
	arch = mips64el
	license = MIT
	makedepends = git
	depends = gcc-libs
	provides = luajit
	provides = luajit-git
	conflicts = luajit
	conflicts = luajit-git
	source = git+https://luajit.org/git/luajit.git
	sha256sums = SKIP

pkgname = luajit-lua52compat-git
